{% extends 'base.html' %}


{% block title %}
  Dashboard
{% endblock title %}



{% include 'components/flashed_messages.html' %}


{% include 'components/navbar.html' %}


{% block content %}
  

  <!-- This example requires Tailwind CSS v2.0+ -->
  <div class="flex flex-col max-w-7xl mt-4 mx-auto">
    <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
        <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
          <table class="min-w-full divide-y divide-gray-200">
            <thead>
              <tr>
                
                <th scope="col" class="px-6 py-2 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  Todo
                </th>
                <th scope="col" class="px-6 py-2 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider w-32">
                  Priority
                </th>
                <th scope="col" class="px-6 py-2 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider w-32">
                  Tags
                </th>
              
              </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
              {% for todo in context.todos %}
              <tr>
                {% if context.edit == True and todo.id == edit_todo.id %}
                
                  <td class="px-6 py-2 whitespace-nowrap text-sm text-gray-400 flex flex-row items-center">
                    <svg class="text-fuchsia-300 hover:text-fuchsia-600 h-5 w-auto mx-1.5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>
                    <div class="w-full">
                      <form class="w-full mb-0" action="{{ url_for('todo.update', id=todo.id) }}" method="POST">
                        {{ edit_form.csrf_token }}
                        {{ edit_form.body(class="focus:ring-fuchsia-500 focus:border-fuchsia-500 block w-full sm:text-sm border-transparent rounded-md placeholder-fuchsia-300", autofocus=True, onfocus="var temp_value=this.value; this.value=''; this.value=temp_value" ) }}
                      </form>
                    </div>
                  </td>
                {% else %}
                  <td class="px-6 py-2 whitespace-nowrap text-sm text-gray-500 flex flex-row" ondblclick="window.location='{{ url_for('todo.update', id=todo.id) }}'">
                    <svg class="text-fuchsia-300 hover:text-fuchsia-600 h-5 w-auto mx-1.5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>
                    <p>{{ todo.body }}</p>
                  </td>
                {% endif %}
                  <td class="px-6 py-2 whitespace-nowrap">
                    <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-fuchsia-100 text-fuchsia-800">
                      Hoog
                    </span>
                  </td>
                  <td class="px-6 py-2 whitespace-nowrap">
                    <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-fuchsia-100 text-fuchsia-800">
                      Test
                    </span>
                  </td>
                  
                </tr>
                
              {% endfor %}
              <tr>
                
                <td class="px-6 py-2 whitespace-nowrap text-sm text-gray-500 flex flex-row items-center">
                  <svg class="text-fuchsia-300 hover:text-fuchsia-600 h-5 w-auto mx-1.5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
                  </svg>
                  <div class="w-full">
                    <form class="w-full mb-0" action="{{ url_for('todo.create') }}" method="POST">
                      {{ form.csrf_token }}
                      {{ form.body(class="focus:ring-fuchsia-500 focus:border-fuchsia-500 block w-full sm:text-sm border-transparent rounded-md placeholder-fuchsia-300 leading-10", placeholder="...") }}
                    </form>
                  </div>
                </td>
                <td class="px-6 py-2 whitespace-nowrap">
                  <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-fuchsia-100 text-fuchsia-800">
                    
                  </span>
                </td>
                <td class="px-6 py-2 whitespace-nowrap">
                  <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-fuchsia-100 text-fuchsia-800">
                    
                  </span>
                </td>
                
              </tr>

              <!-- More rows... -->
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>




{% endblock content %}